:root {
    --black: #7d5a50;
    --light-grey: #7d5a5020;
    --white: #fff;
    --links-color: #e5b299;
    --links-light: #e5b29980;
    --links-very-light: #e5b29920;
    --cta-color: #fcdec0;
    --cta-light: #fcdec080;
    --cta-very-light: #fcdec020;
    --maxlev-color: #b4846c;
}
:root {
    --black: #303841;
    --light-grey: #30384120;
    --white: #eeeeee;
    --links-color: #00adb5;
    --links-light: #00adb580;
    --links-very-light: #00adb520;
    --cta-color: #ff5722;
    --cta-light: #ff572280;
    --cta-very-light: #ff572220;
    --maxlev-color: darkblue;
}
:root {
    --black: #2D4059;
    --light-grey: #F07b3f;
    --white: #fff;
    --links-color: #e45455;
    --links-light: #e4545580;
    --links-very-light: #e4545520;
    --cta-color: #ffd460;
    --cta-light: #ffd46080;
    --cta-very-light: #ffd46020;
    --maxlev-color: #f07b3f;
}
:root {
    --black: #212121;
    --light-grey: #21212120;
    --white: #f6f6f6;
    --links-color: #6d9886;
    --links-light: #6d988680;
    --links-very-light: #6d988610;
    --cta-color: #d9cab3;
    --cta-light: #d9cab380;
    --cta-very-light: #d9cab310;
    --maxlev-color: darkred;
}

html {
    background-color: var(--white);
}
body {
    color: var(--black);
    font-family: 'Lato', sans-serif;
    background: url(../img/rabbit-wallp.png) repeat;
    font-size: 0.9rem;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--links-color);
}
a:hover {
    text-decoration: none;
    color: var(--black);
}

/* Buttons */
.btn {
    border-width: 3px;
    border-color: #0000;
    font-weight:900;
}

.btn:hover {
    background-color: var(--black);
}

.btn:active {
}

.btn-primary:disabled, .btn-primary.disabled {
    background-color: var(--light-grey);
    border-color: var(--light-grey);
}

.btn-primary {
    background-color: var(--cta-color);
    border-color: var(--cta-color);
}
.btn-primary:hover {
    border-color: var(--cta-color);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:focus {
    border-color: var(--cta-color);
    background-color: var(--cta-light);
}

.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem var(--cta-very-light);
}

.btn-secondary {
    background-color: var(--links-color);
}
.btn-secondary:hover {
    border-color: var(--links-color);
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:focus {
    border-color: var(--links-color);
    background-color: var(--links-light);
}

.btn-secondary:focus, btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem var(--links-very-light);
}


/* Side panels */
.panel-bordered {
    border: 3px solid var(--black);
    margin-bottom: 1em;
}

.claby-panel-title {
    font-size: 1.1em;
    font-weight: 900;
    color: var(--black);
    background-color: var(--light-grey);
}


/* Modals*/
.modal-content {
    max-height: 100%;
}
.modal-dialog {
    width: 45em;
    max-width: 45em;
    height: 90%;
}
.modal-title {
    width: 100%;
}

.modal-footer button {
    margin: 0 0.5em 0;
}

/** Legacy - To be deleted **/
#lapy-arrows {
    position: fixed;
    padding: 1em;
    top: 5em;
    display: none;
}
#lapy-arrows > img {
    height: 70px;
}
#lapy-arrows button {
    margin: 1em;
    display: block;
    border: 1px solid var(--black);
}
#lapy-arrows button img {
    height: 45px;
}

#lapy-arrows button img.off {
    opacity: 0.5;
}
