:root {
    --black: #303841;
    --light-grey: #30384120;
    --white: #eeeeee;
    --links-color: #00adb5;
    --links-light: #00adb580;
    --links-very-light: #00adb520;
    --cta-color: #ff5722;
    --cta-light: #ff572280;
    --cta-very-light: #ff572220;
    --maxlev-color: darkblue;
}
html {
    background-color: var(--white);
    min-width: 1200px;
    min-height: 660px;
    height: 100%;
}


body {
    color: var(--black);
    font-family: 'Lato', sans-serif;
    background: url(../img/rabbit-wallp.png) repeat;
    height: 100%;
}
@media screen and (max-width: 1400px) {
    body {
	font-size: 0.9rem;
    }
    :root {
	--cell-size: 21px;
    }
}
@media screen and (min-width: 1400px) {
    #lapyrinthe {
	margin-left: 5%;
	margin-right: 5%;
    }
    :root {
	--cell-size: 23px;
    }
}
@media screen and (min-width: 1600px) {
    #lapyrinthe {
	margin-left: 10%;
	margin-right: 10%;
    }
}    

a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--links-color);
}
a:hover {
    text-decoration: none;
    color: var(--black);
}

/* Buttons */
.btn {
    border-width: 3px;
    border-color: #fff0;
    font-weight:900;
}

.btn:hover {
    background-color: var(--black);
}

.btn:active {
}

.btn-primary:disabled, .btn-primary.disabled {
    background-color: var(--light-grey);
    border-color: var(--light-grey);
}

.btn-primary {
    background-color: var(--cta-color);
    border-color: var(--cta-color);
}
.btn-primary:hover {
    border-color: var(--cta-color);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:focus {
    border-color: var(--cta-color);
    background-color: var(--cta-light);
}

.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem var(--cta-very-light);
}

.btn-secondary {
    background-color: var(--links-color);
}
.btn-secondary:hover {
    border-color: var(--links-color);
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:focus {
    border-color: var(--links-color);
    background-color: var(--links-light);
}

.btn-secondary:focus, btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem var(--links-very-light);
}


/* Side panels */
.panel-bordered {
    border: 3px solid var(--black);
    margin-bottom: 1em;
    background-color: var(--transp-white);
}

.claby-panel-title {
    font-size: 1.1em;
    font-weight: 900;
    color: var(--black);
    background-color: var(--light-grey);
}


/* Modals*/
.modal-content {
    max-height: 100%;
}
.modal-dialog {
    width: 45em;
    max-width: 45em;
    height: 90%;
}
.modal-title {
    width: 100%;
}

.modal-footer button {
    margin: 0 0.5em 0;
}
.modal-body h3 {
    text-decoration: underline;
    font-size: 1.25em;
}
.modal-body h4 {
    font-weight: bolder;
    font-size: 1.1em;
}

/** Legacy - To be deleted **/
#lapy-arrows {
    position: fixed;
    padding: 1em;
    top: 5em;
    display: none;
}
#lapy-arrows > img {
    height: 70px;
}
#lapy-arrows button {
    margin: 1em;
    display: block;
    border: 1px solid var(--black);
}
#lapy-arrows button img {
    height: 45px;
}

#lapy-arrows button img.off {
    opacity: 0.5;
}

span.emoji {
    padding-right: 0.2em;
}
