.claby-panel-title {
    font-size: 1.1em;
    font-weight: 900;
    color: black;
    background-color: lightgray;
}


/** Legacy - To be deleted **/
#lapy-arrows {
    position: fixed;
    padding: 1em;
    top: 5em;
    display: none;
}
#lapy-arrows > img {
    height: 70px;
}
#lapy-arrows button {
    margin: 1em;
    display: block;
    border: 1px solid black;
}
#lapy-arrows button img {
    height: 45px;
}

#lapy-arrows button img.off {
    opacity: 0.5;
}
