.controls-content img {
    height: 2em;
    padding-right: 0.8em;
}
.controls-content div {
    padding: 0.2em;
}
.controls-content {
    background-color: var(--transp-white);
    border: thin var(--black) solid;
}
