.game-info {
    text-align: left;
}
.game-info form > * {
    margin-top: 0.2em;
}
.game-info #colors-options {
    display: inline;
    width: 2em;
    margin-right: 0.5em;
    height: 2em;
    vertical-align: middle;    
}

.game-info > div:first-child {
    padding: 0 0.5em 0;
}
.game-info > form:last-child {
    padding-left: 0.5em;
    border-left: 1px solid var(--black);
}
.game-info a.info {
    display: block;
}

/* Controls */
.controls-content img {
    height: 2em;
    padding-right: 0.8em;
}
.controls-content div {
    padding: 0.2em;
}
.controls-content {
}

#lapyrinthe #game-board + .controls-content {
    background-color: var(--transp-white);
    border: thin var(--black) solid;
    position: absolute;
    font-size: 0.8em;
    bottom: 0;
    padding: 0.2em;
    transition: all ease-out 0.5s;
}

#lapyrinthe #game-board + .controls-content div {
    display: inline;
}

#lapyrinthe #game-board + .controls-content.controls-initial-show {
    font-size: 2em;
    bottom: 3em;
}
#lapyrinthe #game-board + .controls-content.controls-initial-show div {
    display: block;
}

/* Level info */
.level-info h2 {
    font-size: 1.2em;
    color: var(--cta-color);
    font-weight: 900;
}
.level-info p {
    text-align: left;
    margin-bottom: 0.8em;
}
.level-info p b {
    margin-right: 0.5em;
}
.level-info .subtext {
    font-size: 0.8em;
    font-style: italic;
}

/* Change speed / level */
#speed-level-modal .modal-body {
    text-align: left;
}

#speed-level-modal .modal-body .row div:first-child {
    font-weight: bolder;
}

#speed-level-modal .modal-body .row div:nth-child(2) {
    padding-top: 0.3em;
}
#speed-level-modal .modal-body .form-group.row span {
    font-size: 0.9em;
    font-style: italic;
}
    
