
/* Playing area */
#game-board {
    height: calc(21px * 25);
    border-width: 5px;
}

#game-board td {
    width: 21px;
    height: 21px;
    padding: 0;
    background-size: 21px;
    background-repeat: no-repeat;
}

#game-board td.wall {
    background-image: url("../img/wall.png");
}

#game-board td.fruit {
    background-image: url("../img/strawberry.gif");
}

#game-board td.cheese {
    background-image: url("../img/cheese.gif");
}

#game-board td.player {
    background-image: url("../img/rabbit3.png");
}

/* Title row */
#game-board .title-row {
    border-top: thin var(--black) solid;
    background: var(--white);
    font-size: 0.8em;
}

#game-board .title-row td:nth-child(2) {
    border-left: thin var(--black) solid;
    border-right: thin var(--black) solid;
}
