#playerboard {
    width: 100%;
    padding: 1em;
    background-color: var(--white);
    table-layout: fixed;
}

#playerboard tr.now-playing td {
    width: 100%;
}

#playerboard .now-playing.human td.claby-panel-title {
    background-color: lightgreen;
}

#playerboard .now-playing.ai td.claby-panel-title {
    background-color: lightblue;
}

#playerboard .texts td {
    font-size: 0.8em;
}

#playerboard .buttons td {
    padding-top: 0.5em;
}

#playerboard tr.see-ai-message,
#playerboard tr.or {
    background-color: #eee;
}

#playerboard tr.see-ai-message td,
#playerboard tr.or td{
    padding-top: 0.2em;
    background-color: #eee;
}

#customboard {
    display: none;
    position: fixed;
    top: 0em;
    left: 0em;
    width: 100%;
    height:100%;
    z-index: 2000;
    background-color: #fff8;
}

#customboard .dialog {
    margin-top: 5%;
    background-color: var(--white);
}
#customboard input.range {
    padding: 0px;
    width: 8em;
}
#customboard .setting {
    border: thin var(--black) dashed;
    padding: 0.5em 1em 0em;
    margin-top: 2em;
    text-align: left;
}
#customboard .setting .title {
    font-weight: 900;
}
#customboard .setting span.glyphicon {
    float: right;
}
#customboard .setting span.value {
    float: right;
    color: darkblue;
    font-weight: 900;
    margin-top: 0.5em;
}
#customboard .knowledge input {
    min-height: auto;
    font-size: 1em;
    padding: 1em;
}
#customboard .finish {
    padding-top: 1em;
}

