/** Help modal **/
.modal .modal-title {
    font-weight: 900;
    font-size: 1.2em;
}
.modal .modal-title .close {
    float: right;
}
/** Player card  & learn more **/
.player-card {
    min-width: 19em;
    min-height: 32em;
    text-align: left;
    position: relative;
}

.learn-more {
    text-align: left;
}

#learn-more-modals .modal, #stat-modals .modal {
    background-color: #0008;
    overflow-y: auto;
}

#learn-more-modals .modal-body, #stat-modals .modal-body {
    overflow-y: auto;
}

#learn-more-modals .modal-body h4, #stat-modals .modal-body h4 {
    font-weight: bolder;
    font-size: 1.1em;
}
#learn-more-modals .modal-body h4 span.title , #stat-modals .modal-body h4 span.title {
    text-decoration: underline;
}
#learn-more-modals .modal-body i, #stat-modals .modal-body i,
#learn-more-modals .modal-body b, #stat-modals .modal-body b {
    padding: 0 0.2em 0;
}
.player-card > div {
    padding-left: 0.3em;
}

.learn-more .img,
.player-card .img {
    padding: 1em;
    text-align: center;
}

.learn-more .img img,
.player-card .img img {
    height: 7em;
}

.learn-more .name,
.player-card .name {
    font-size: 1.1em;
    font-weight: 900;
    color: var(--black);
    background-color: var(--cta-color);
    text-align: center;
}

.player-card .short-description {
    color: gray;
}
.player-card .learn-more-link {
    font-size: 1.1em;
    text-align: center;
}
.learn-more .technology span,
.player-card .technology span {
    color: var(--links-color);
    text-decoration: none;
    font-style: italic;
    padding-left: 0.5em;
}

.learn-more .long-description {
    padding-top: 1em;
    border-top: 1px solid var(--black);
}
.player-card table {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.player-card table thead tr {
        text-align: center;
}

.player-card table thead tr,
.player-card table tr.max-level-row {
    background-color: var(--cta-light);
    border-top: thin var(--black) solid;
    font-weight: 600;
}

.player-card table tr.max-level-row td:last-child {
    font-weight: 900;
    color: var(--maxlev-color);
    font-size: 1.5em;
}
.player-card table td:first-child {
    width: 9em;
    padding-left: 0.3em;
}

.player-card .stat-row td.statbar {
    width: 1em;
    color: var(--links-color);
}

.player-card .stat-row.max-stat td.statbar {
    font-weight:900;
}

.player-card .stat-row td.statbar:last-child {
    min-width: 4.5em;
}

.player-card .stat-row td.statbar .none {
    color: var(--maxlev-color);
}

/* Player selection modal */
#player-selection-modal .modal-dialog {
    width: 80%;
    max-width: unset;
}

#player-selection-modal .modal-body {
    max-height: 34em;
    overflow-y: auto;
}
.player-selection {
    padding-bottom: 2.2em;
}

.player-selection .player-card {
    font-size: 0.7em;
    outline: 2px var(--black) solid;
}

.player-selection.player-selected .player-card:hover,
.player-selection .player-card:hover {
    outline: medium var(--cta-color) solid;
}

.player-selection.player-selected .player-card,
.player-selection.player-selected:hover .player-card {
    outline: medium var(--links-color) solid;
}
.player-selection.player-selected .player-card .name {
    background-color: var(--links-color);
}
.player-selection.player-selected .player-card .img {
    background-color: var(--cta-very-light);
}
.player-selection .player-card.available-soon {
    outline: thin var(--black) solid;
}

.player-selection .player-card.available-soon .name {
    opacity: 0.5;
}

[customtooltip]:before {            
     position : absolute;
     content : attr(customtooltip);
     opacity : 0;
     top: 0px;
     z-index: 9999;
}

[customtooltip]:hover:before {        
    opacity : 1;
    background-color: lightyellow;
    font-size: 1.2em;
}
